* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-color: #1B1B1E;
    scroll-behavior: smooth;
}


.pickerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .pickerHeader {
        display: flex;
        align-items: center;
        font-size: 4rem;
        padding-top: 4rem;
        color: #D8DBE2;
        flex: 1;
        justify-content: center;
    }

    .sourceContainer {
      color: lightgray;
      font-style: italic;
      padding-bottom: 2rem;
      font-size: .8rem;

      a {
        text-decoration: none;
        cursor: pointer;
        color: lightblue;

      }
    }


    .contentContainer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: space-evenly;
        margin: auto;
        gap: 0;
        flex: 1;
        
    }
}


.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #D8DBE2;
  left: 1em;
  top: 1em;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;

  #toggleBtn {
    display: none;
  }

  span {
    display: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {

    margin: 5px;

    &:hover {
      color: #808e9b;
    }
  }
}

.search_container {

  padding-bottom: 3rem;

  input[type=text] {
    border: none;
    margin: 3rem 3rem 0 3rem;
    border-bottom: 1px solid peachpuff;
    background: transparent;
    width: 35vw;
    font-size: 1rem;
    padding: 1rem;
    outline: none;
    color: white;
    align-self: center;
    border-radius: 0;

    &::placeholder {
        color: white;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
      }
      
    &::-ms-input-placeholder { /* Microsoft Edge */
        color: white;
      }
}
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


@media screen and (max-width: 1086px) {
    .pickerContainer {

        .contentContainer {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .menu {
      font-size: 2rem;
      * {
        display: none;
      }

      #toggleBtn {
        display: block;
      }


      &.active {
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        justify-content: center;

        #toggleBtn {
          position: absolute;
          top: 1em;
          left: 1em;
        }

        * {
          display: block;
        }
      }
    }

  }

  @media screen and (max-width: 658px) {
    .pickerContainer {

        .pickerHeader {
            font-size: 2rem;
        }

        .contentContainer {
            grid-template-columns: repeat(2, 1fr);
            margin: 0;
            padding: 5px;
            column-gap: 3px;
        }
    }

    .menu {
      font-size: 1rem;
      * {
        display: none;
      }

      #toggleBtn {
        display: block;
      }


      &.active {
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        justify-content: center;

        #toggleBtn {
          position: absolute;
          top: 1em;
          left: 1em;
        }

        * {
          display: block;
        }
      }
    }
  }
  