

.viewer {
    display: none;
    width: 80vw;
    height: 100vh;
    align-items: center;
    margin: auto;
    margin-top: 20vh;


    &.active-json {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
    }

    &.active-excel {
        display: block;
    }
}

.menuContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 2vw;
    bottom: 2vh;
    color: white;
    border-radius: 5px;
    justify-content: space-between;
    padding: 1rem;
    

    i {
        background-color: transparent;
        cursor: pointer;
        padding: 1rem;
        font-size: 2rem;

        &:hover {
            color: #808e9b;
        }
    }
}

.jsoncard {
    margin: 2rem;
    
    div {

        span {
            margin: 1rem;
            background-color: transparent;
        }

        &:nth-child(odd) {
            background-color: #D8DBE2;
            color: #373F51;
        }

        &:nth-child(even) {
            background-color: #373F51;
            color: #D8DBE2;
        }

        &:first-child {
            color: #D8DBE2;
            font-size: 2rem;
            margin-bottom: 2rem;
            border-bottom: 1px solid #ffc048;
            background-color: transparent;
        }

        &:last-child {
            margin-bottom: 3rem;
        }

        
    
    }
}

@media screen and (max-width: 658px) {
    .menuContainer {
        display: none;
    }

    .viewer {
        width: 100vw;

        &.active-json {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
    }
    }
}